# dirs, files, and patters to exclude
**/project.xcworkspace
**/xcshareddata
**/xcuserdata
*.dylib
*.mxe
*.mxe64
*.mxo
*.o
*.opensdf
*.pyc
*.sdf
*.sln
*.suo
#workbook.leo
.DS_Store
.env
.*_cache
.quarto
.vs
.vscode
.venv
__pycache__
build
CMakeFiles
env.sh
externals/*
extensions/*
javascript/node_modules
leoenv
log.txt
logs
package-info.json
support/*
sysbuild
tmp
uv.lock
.claude
CLAUDE.md
